accelerate==0.23.0
aiohttp==3.9.5
aiosignal==1.3.1
attrs==23.2.0
bitsandbytes==0.43.1
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
datasets==2.20.0
dill==0.3.8
docker-pycreds==0.4.0
docstring_parser==0.16
filelock==3.13.1
fire==0.6.0
frozenlist==1.4.1
fsspec==2024.2.0
gitdb==4.0.11
GitPython==3.1.43
huggingface-hub==0.23.3
idna==3.7
intel-extension-for-pytorch @ https://intel-extension-for-pytorch.s3.amazonaws.com/ipex_stable/cpu/intel_extension_for_pytorch-2.1.0%2Bcpu-cp311-cp311-linux_x86_64.whl#sha256=c0e4bbb099a02301adea24ce6adbcaee9c9cb7e6638a3dcaaf06178b7750e687
intel-openmp==2024.1.2
ipex-llm==2.1.0b20240515
Jinja2==3.1.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
networkx==3.2.1
numpy==1.26.4
oneccl-bind-pt==2.3.0+cpu
packaging==24.1
pandas==2.2.2
peft==0.10.0
platformdirs==4.2.2
protobuf==5.27.1
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2rc1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
safetensors==0.4.3
sentencepiece==0.2.0
sentry-sdk==2.5.1
setproctitle==1.3.3
shtab==1.7.1
six==1.16.0
smmap==5.0.1
sympy==1.12
tabulate==0.9.0
termcolor==2.4.0
tokenizers==0.15.2
torch==2.1.0+cpu
tqdm==4.66.4
transformers==4.36.0
trl==0.9.4
typing_extensions==4.9.0
tyro==0.8.4
tzdata==2024.1
urllib3==2.2.1
wandb==0.17.1
xxhash==3.4.1
yarl==1.9.4
